.box
{
    height: 150px;
    background-color: lightcoral;
    border: 1px solid black;
    text-align: center;
    line-height: 150px;
}

.box-nested
{
    height: 140px;
    background-color: lightgreen;
    border: 1px solid white;
    margin: 5px 0;
}